<!DOCTYPE html>
<th:block th:insert="include/link.html"></th:block>
<link rel="stylesheet" href="/css/layout/nav.css">
<link rel="stylesheet" href="/css/user/myPage.css">

<th:block th:insert="include/header.html"></th:block>

<div class="wrap">

    <section class="title">
        <h1>my 배민</h1>
    </section>

    <!-- 콘텐츠 -->
    <main>
        <div class="container">

            <div class="grid_box">
                <div class="login_box">
                        <a th:if="${empty SPRING_SECURITY_CONTEXT }" href="/login"><span>로그인을 해주세요</span></a>
                    <div th:if="${!empty SPRING_SECURITY_CONTEXT }">
                        <div th:with="nickname=${#authentication.principal.user.nickname}"></div>
                        <a href="/user/myInfo"><span class="nickname" data-nickname=${nickname } >${nickname }</span></a>
                        <button type="button" class="logout">로그아웃</button>
                    </div>
                </div>


                <div>
                    <a href="/user/point" onclick="return loginCheck();">
	                       	<span class="img_box">
	                       		<img src="/img/icon11.png" alt="포인트">
	                       	</span>
                        <span>포인트</span>
                    </a>
                </div>


                <div>
                    <a class="updating" href="/myPage/coupon" onclick="return false;">
	               		  	<span class="img_box">
	                			<img src="/img/icon22.png" alt="쿠폰함">
	               			</span>
                        <span>쿠폰함</span>
                    </a>
                </div>


                <div>
                    <a class="updating" href="/myPage/gift" onclick="return false;">
	                 		<span class="img_box">
	                 			<img src="/img/icon33.png" alt="선물함">
	                 		</span>
                        <span>선물함</span>
                    </a>
                </div>


                <div>
                    <a href="/likes/store">
							<span class="img_box">
								<img src="/img/icon44.png" alt="찜한가게">
							</span>
                        <span>찜한가게</span>
                    </a>
                </div>


                <div>
                    <a href="/orderList">
							<span class="img_box">
								<img src="/img/icon55.png" alt="주문내역">
							</span>
                        <span>주문내역</span>
                    </a>
                </div>


                <div>
                    <a href="/user/myReview" onclick="return loginCheck()" >
							<span class="img_box">
								<img src="/img/icon66.png" alt="리뷰관리">
							</span>
                        <span>리뷰관리</span>
                    </a>
                </div>

            </div>

        </div>
    </main>

</div>

<!-- 콘텐츠 -->


<!-- 하단 메뉴 -->
<th:block th:insert="include/nav.html"></th:block>
<!-- 하단 메뉴 -->

<!-- 푸터 -->
<th:block th:insert="include/footer.html"></th:block>
<!-- 푸터 -->

<script type="text/javascript">

    $(".updating").click(function () {
        swal("업데이트 준비 중 입니다");
    })

    $(".logout").click(function () {
        location.href = "/logout";
    })

    function loginCheck(){
        const nickname = $(".nickname").data("nickname");
        if(!nickname) {
            swal("로그인 후 이용 가능합니다");
            return false;
        }
        return true;

    }

</script>

</body>

</html>
